@charset "utf-8";

body{
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	width: 50%;
	margin: 20px auto;
	padding: 20px;
	text-align: center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	height: 100vh;
}

.container{
	border-radius: 10px;
	border: solid white 3px;
}

#song-list {
	text-align: center;	
}

ul{
	list-style:none;
	margin:0;
	padding:0;
}
li {
	padding: 15px;
}

li:hover, i:hover{
	cursor:pointer;
}

li:hover{
color:white;
 background-color:rgba(34,193,195,1);
transition: 1s ease;	
}

i:hover{
	opacity: 0.3;
	transition: 0.5s ease;	
}

#controls{
	border: 1px lightgray solid;
	border-radius: 10px;
	padding: 1.5em;
background-color: rgba(255, 255, 255, .7);	
}

i{
	color:rgba(34,193,195,1);
}

progress {
	width: 80%;
	margin: 10px;
}
